@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    font-family: Inter;
    font-weight: 500;
    line-height: 130%;
    background: #f0f0f0;
}


nav {
    background: #0a3782;
    color: lightgray;   
}
nav a{
    text-decoration: none;
    color: lightgray;
    font-size: 32px;
    padding: 2vh;
}

.retour a{
    display: flex;
    align-items: center;
    background: lightgray;
    color: black;
    border-radius: 10px;
    border: solid;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

.actions a{
    background: lightgray;
    color: black;
    border-radius: 10px;
    border: solid;
    text-decoration: none;
    padding: 3vh;
    font-size: 42px;
}

.retour a:hover, .actions a:hover{
    background: rgb(164, 164, 164);
    transition: ease-in-out 0.2s;

}
.typographie {
    font-size: 2rem;
    font-style: normal;
    color: #000;
}

.flash {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    background-color: #90EE90;
}

.flash-error {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    background-color: #F08080;
}



.champ-form-label {
    text-align: left;
    font-size: 1.5rem;

}

.champ-form-input {
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.champ-recherche-input {
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

table {
    border-collapse: collapse;
    border-radius: 20px;
}


.table-bordures {
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 20px;
    border: 2px solid #4F4F4F; 
    overflow: hidden; 
}

#table_produits td:nth-child(1) {
    text-decoration: solid;
}

#table_produits td:nth-child(1):hover {
    text-decoration: underline;
}

.table-bordures tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-bordures tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

.table-bordures th, .table-bordures td{
    border-bottom: 2px solid #4F4F4F;
}

.table-bordures  td{
    text-align: center;
}

.bouton_filtre {
    border-radius: 9.075px;
    background: #E2B362;
}


.bouton-pagination:hover{
    background-color: #878787;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
}

.table-bordures tr:last-child td{
    border-bottom: None;
}


#table_produits button, #bouton_filtre, #champ-form-submit input{
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(231, 249, 255);
}


#table_produits button:hover, #bouton_filtre:hover, #champ-form-submit input:hover{
    transition: ease-in-out 0.2s;
    background-color: rgb(201, 235, 247);
}

#champ-form-submit input:active{
    background-color: rgb(181, 232, 251)
}

#creation_produit {
    border: 2px solid #474747;
    border-radius: 15px;
    margin-right: 20px;
}

#creation_produit h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#creation_produit_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#creation_produit_form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#champ-form-label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
}

#champ-form-input {
    padding: 20px;
    border-radius: 8px;
    max-height: 2px;
    width: 100%;
}

#creation_produit_form #champ-form {
    margin-top: 10px;
    width: 500px;
}


