<html>
    <head>
        <meta charset="UTF-8">
        <title>Application Magasin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    </head>
    <body id="pagination">
        <nav>
            <h1>Application Magasin</h1>
        </nav>
        <div id="gestion_produits">
            <h1>Gestion des produits</h1>
            <div id="contenu_page_produits">    
                <div id="table_produits">
                    <form action="{{ url_for('home') }}" method="POST" id="filtre">
                        <select id="bouton_filtre" name="filtre" onchange="this.form.submit()">
                            <option value="">Filtrer</option>
                            <option value="reference" {% if filtre_actif == 'reference' %}selected{% endif %}>Référence</option>
                            <option value="nom" {% if filtre_actif == 'nom' %}selected{% endif %}>Nom</option>
                            <option value="fabricant" {% if filtre_actif == 'fabricant' %}selected{% endif %}>Fabricant</option>
                            <option value="quantite" {% if filtre_actif == 'quantite' %}selected{% endif %}>Quantité</option>
                        </select>
                    </form>
                    <form id="recherche_produit_form" method="POST" role="form" action="{{ url_for('rechercher_produit', filtre=filtre_actif) }}">
                        {{ form.hidden_tag() }}
                        <input class="champ-recherche-input" name="recherche" type="search">
                        <input type="hidden" name="filtre" value="{{ filtre_actif }}">
                        <div class="supress-btn">
                            <input type="submit" value="Rechercher">
                        </div>
                    </form>
                    <table class="table-bordures">
                        <thead>
                            <tr class="en-tete">
                                <th>Référence</th>
                                <th>Nom</th>
                                <th>Fabricant</th>
                                <th>Quantité</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produit in produits %}
                            <tr>
                                <td>{{ produit.reference }}</td>
                                <td>{{ produit.nom }}</td>
                                <td>{{ produit.fabricant }}</td>
                                <td>{{ produit.quantite }}</td>
                                <td><form action="{{ url_for('supprimer_produit', filtre=filtre_actif) }}" method="POST" style="display: inline;">
                                    <input type="hidden" name="id" value="{{ produit.id }}">
                                    <button type="submit" class="supress-btn" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
                                        Supprimer
                                    </button>
                                </form></td>
                            </tr>
 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <div id="creation_produit">
                        <h2>Créer une plateforme</h2>
                        <form id="creation_produit_form" method="POST" role="form" action="{{ url_for('home', filtre=filtre_actif) }}">
                            {{ form.hidden_tag() }}
                            <div class="champ-form">
                                {{ form.reference.label (class_ = "champ-form-label") }}
                                {{ form.reference (class_ ="champ-form-input") }}
                            </div>
                            <div class="champ-form">
                                {{ form.nom.label (class_ = "champ-form-label") }}
                                {{ form.nom (class_ ="champ-form-input") }}
                            </div>
                            <div class="champ-form">
                                {{ form.fabricant.label (class_ = "champ-form-label") }}
                                {{ form.fabricant (class_ ="champ-form-input") }}
                            </div>
                            <div class="champ-form">
                                {{ form.quantite.label (class_ = "champ-form-label") }}
                                {{ form.quantite (class_ ="champ-form-input") }}
                            </div>
                            <div id="champ-form-submit">
                                <input type="hidden" name="filtre" value="{{ filtre_actif }}">
                                <input type="submit" value="Créer">
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <section class="pagination">
                <a href="{{ url_for('home',page=page-1) }}" class="bouton-pagination typographie"><</a>
                <p>{{ page }}</p>
                <a href="{{ url_for('home',page=page+1) }}" class="bouton-pagination typographie">></a>
        </section>
    </body>
</html>
